<%= render "shared/header" %>
  <div class="my">
    <ul class='my__btn'>
    <% if japanese_user_signed_in? %>
      <li>
        <%= link_to "#" do%>
        <%= icon('fa', 'cog', class: "my__btn__icon")%>
        <% end %> 
      </li> 
      <li><%= link_to 'Log-out', destroy_japanese_user_registration_path, method: :delete, class: "my__btn__out" %></li>
    <% else %>
      <li><%= link_to 'Log-in', "#", class: "my__btn__login" %></li>
      <li><%= link_to 'Sign-up', "#", class: "my__btn__sign-up" %></li>
    <% end %>
    </ul>
    <div class="my__profile">
      <div class="my__profile__index">
        <label class="my__profile__index__my_profile">My Profile</label>
      </div>
      <div class="my__profile__box">
        <%= image_tag @japanese_user.selfy.variant(combine_options:{resize:"350x350^",crop:"350x350+0+0",gravity: :center}), class:"my__profile__box__img" %> 
      </div> 
      <div class="my__profile__nickname">
        <div class="my__profile__nickname__label">Name</div>
        <div class="my__profile__nickname__data"><%= @japanese_user.name %></div>
      </div>
      <div class="my__profile__sex">
        <div class="my__profile__sex__label">Sex</div>
        <div class="my__profile__sex__data"><%= @japanese_user.sex.name %></div>
      </div>
      <div class="my__profile__how_old">
        <div class="my__profile__how_old__label">How-old</div>
        <div class="my__profile__how_old__data"><%= @japanese_user.how_old %></div>
      </div>
      <div class="my__profile__prefecture">
        <div class="my__profile__prefecture__label">Prefecture</div>
        <div class="my__profile__prefecture__data"><%= @japanese_user.prefecture.name %></div>
      </div>
      <% if @japanese_user.topic_1.present? %>
      <div class="my__profile__topic">
        <div class="my__profile__topic__label">Topic1</div>
        <div class="my__profile__topic__data">
          <div class="my__profile__topic__data__1"><%= @japanese_user.topic_1 %></div>
        </div>
      </div>
      <% end %>
      <% if @japanese_user.topic_2.present? %>
      <div class="my__profile__topic">
        <div class="my__profile__topic__label">Topic2</div>
        <div class="my__profile__topic__data">
          <div class="my__profile__topic__data__2"><%= @japanese_user.topic_2 %></div>
        </div>
      </div>
      <% end %>
      <% if @japanese_user.topic_3.present? %>
      <div class="my__profile__topic">
        <div class="my__profile__topic__label">Topic3</div>
        <div class="my__profile__topic__data">
          <div class="my__profile__topic__data__3"><%= @japanese_user.topic_3 %></div>
        </div>
      </div>
      <% end %>
      <% if @japanese_user.introduction.present? %>
      <div class="my__profile__introduction">
        <div class="my__profile__introduction__label">Introduction</div>
        <div class="my__profile__introduction__data"><%= @japanese_user.introduction %></div>
      </div>
      <% end %>
    </div>
  </div>
