<%= render "shared/header" %>
  <%= form_with model:@japanese_user, url: japanese_user_session_path, method: :post, local: true do |f| %>
    <div class="japanese">
      <div class="japanese__signin">
        <div class="japanese__signin__text">
          <div class="japanese__signin__text__app">Japanish</div>
          <div class="japanese__signin__text__logo">Sign up</div>
        </div>
      </div>
      <div class="japanese__form">
        <div class="japanese__form__name">
          <div class='japanese__form__name__text'>
            <label class="japanese__form__name__text__category">Name</label>
            <span class="japanese__form__name__text__necessity">*</span>
          </div>
          <%= f.text_area :name, class:"japanese__form__name__input", placeholder:"ex) 比嘉 太郎", id:'name', maxlength:"40" %>
        </div>
        <div class="japanese__form__email">
          <div class='japanese__form__email__text'>
            <label class="japanese__form__email__text__category">Email</label>
            <span class="japanese__form__email__text__necessity">*</span>
          </div>
          <%= f.text_area :email, class:"japanese__form__email__input", placeholder:"ex) aaa111@jeng.com", id:'email', maxlength:"40" %>
        </div>
      </div>
      <div class="japanese__btn">
        <%= f.submit "sign in", class:"japanese__btn__text"%>
      </div>
    </div>
  <% end %>
