<%= render "shared/header" %>
  <div class="index">
    <%# <div class="index__search"> %>
      <%# <%= search_form_for @p, url: search_english_users_path, local: true, method: :get, class: "index__search__form" do |f| %> 
        <%# <%= f.collection_select(:prefecture_id_eq, Prefecture.all, :id, :name, {include_blank:"Prefecture"}, {class:"index__search__form__select"}) %> 
        <%# <%= f.submit "Search", class: "index__search__form__btn"%> 
      <%# <% end %> 
    <%# </div> %>
    <%= link_to "#", method: :get, class: "index__info" do %>
      <% @english_user.each do |english_user| %>
      <div class="index__info__for">
        <div class="index__info__for__img">
          <%= image_tag english_user.selfy.variant(combine_options:{resize:"100x100^",crop:"100x100+0+0",gravity: :center}).processed if english_user.selfy.present? %>
        </div>
        <div class="index__info__list">
          <div class="index__info__for__list__name">
            <%= english_user.name %>
          </div>
          <div class="index__info__for__list__year">
            <%= english_user.how_old %>
          </div>
          <div class="index__info__for__list__prefecture">
            <%= english_user.prefecture.name %>
          </div>
        </div>
        <div class="index__info__for__topics">
          <% if english_user.topic_1.present? %>
          <div class="index__info__for__topics__1">
            <%= english_user.topic_1 %>
          </div>
          <% end %>
          <% if english_user.topic_2.present? %>
          <div class='index__info__for__topics__2'>
            <%= english_user.topic_2 %>
          </div>
          <% end %>
          <% if english_user.topic_3.present? %>
          <div class='index__info__for__topics__3'>
            <%= english_user.topic_3 %>
          </div>
          <% end %>
        </div>
        <div class="index__info__for__introduction">
          <% if english_user.introduction.present? %>
          <div class='index__info__for__introduction__text'>
            <%= english_user.introduction %>
          </div>
          <% end %>
        </div>
      </div>
      <% end %>
    <% end %>
  </div>
