<%= render "shared/header" %>
  <%= form_with model:@english_user, url: english_user_registration_path(@english_user), method: :post, local: true do |f| %>
    <div class="english">
      <div class="english__registration">
        <div class="english__registration__text">
          <div class="english__registration__text__app">Japanish</div>
          <div class="english__registration__text__logo">Sign up</div>
        </div>
      </div>
      <div class="english__form">
        <div class="english__form__name">
          <div class='english__form__name__text'>
            <label class="english__form__name__text__category">Name</label>
            <span class="english__form__name__text__necessity">*</span>
          </div>
          <%= f.text_area :name, class:"english__form__name__input", placeholder:"ex) Tony Brown", id:'name', maxlength:"40" %>
        </div>
        <div class="english__form__email">
          <div class='english__form__email__text'>
            <label class="english__form__email__text__category">Email</label>
            <span class="english__form__email__text__necessity">*</span>
          </div>
          <%= f.text_area :email, class:"english__form__email__input", placeholder:"ex) aaa111@jeng.com", id:'email', maxlength:"40" %>
        </div>
        <div class="english__form__password">
          <div class='english__form__password__text'>
            <label class="english__form__password__text__category">Password</label>
            <span class="english__form__password__text__necessity">*</span>
          </div>
          <%= f.text_area :password, class:"english__form__password__input", placeholder:"ex) jeng1111", id:'password', maxlength:"40" %>
        </div>
        <div class="english__form__password_confirmation">
          <div class='english__form__password_confirmation__text'>
            <label class="english__form__password_confirmation__text__category">Password-Confirmation</label>
            <span class="english__form__password_confirmation__text__necessity">*</span>
          </div>
          <%= f.text_area :password_confirmation, class:"english__form__password_confirmation__input", placeholder:"ex) jeng1111", id:'password_confirmation', maxlength:"40" %>
        </div>
        <div class="english__form__img">
          <div class="english__form__img__text">
            <label class="english__form__img__text__category">Selfy</label>
            <span class="english__form__img__text__necessity">*</span>
          </div>
          <%= f.file_field :selfy, class:"english__form__img__input", id:'selfy' %>
        </div>
        <div class="english__form__sex">
          <div class='english__form__sex__text'>
            <label class="english__form__sex__text__category">Sex</label>
            <span class="english__form__sex__text__necessity">*</span>
          </div>
          <%= f.collection_select(:sex_id, Sex.all, :id, :name, {include_blank:"Sex"}, {class:"english__form__sex__input"}) %>  
        </div>
        <div class="english__form__how_old">
          <div class='english__form__how_old__text'>
            <label class="english__form__how_old__text__category">How_old</label>
            <span class="english__form__how_old__text__necessity">*</span>
          </div>
          <%= f.text_area :how_old, class:"english__form__how_old__input", placeholder:"ex) 25",id:'how_old', maxlength:"40" %>
        </div>
        <div class="english__form__prefecture">
          <div class='english__form__prefecture__text'>
            <label class="english__form__prefecture__text__category">Prefecture</label>
            <span class="english__form__prefecture__text__necessity">*</span>
          </div>
          <%= f.collection_select(:prefecture_id, Prefecture.all, :id, :name, {include_blank:"Prefecture"}, {class:"english__form__prefecture__input"}) %>  
        </div>
        <div class="english__form__topic">
          <div class='english__form__topic__text'>
            <label class="english__form__topic__text__category">Favorite Topic</label>
          </div>
          <div class="english__form__topic__input">
            <div class="english__form__topic__input__1">
              <%= f.text_area :topic_1, class:"english__form__topic__input__1__space", placeholder:"topic1 ex) Comics", id:'topic_1', maxlength:"40" %> 
            </div>
            <div class="english__form__topic__input__2">
              <%= f.text_area :topic_2, class:"english__form__topic__input__2__space", placeholder:"topic1 ex) Sports", id:'topic_2', maxlength:"40" %> 
            </div>
            <div class="english__form__topic__input__3">
              <%= f.text_area :topic_3, class:"english__form__topic__input__3__space", placeholder:"topic1 ex) Movies", id:'topic_3', maxlength:"40" %> 
            </div>
          </div>       
        </div>
        <div class="english__form__introduction">
          <div class='english__form__introduction__text'>
            <label class="english__form__introduction__text__category">Introduction</label>
          </div>
          <%= f.text_area :introduction, class:"english__form__introduction__input", id:'introduction', placeholder:"ex) Nice to meet you" %>
        </div>
      </div>
      <div class="english__btn">
        <%= f.submit "sign up", class:"english__btn__text"%>
      </div>
    </div>
  <% end %>



        